:root{
    --gray0: #F5F7FA;
    --gray1: #E6E9ED;
    --gray2: #CCD1D9;
    --gray3: #AAB2BD;
    --gray4: #656D78;
    --gray5: #434A54;
}
.light{
    --bg: var(--gray0);
    --bg-nav: var(--gray5);
    --bg-header: linear-gradient(to bottom, var(--gray5), var(--gray2));
    --text: var(black);
    --bg-main: var(--gray1);
    --button: var(--gray5)
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Solway', serif;
    background: var(--bg-main);
}
ul{
    list-style-type: none;
    margin: 0;
}
a{
    color: currentColor;
    text-decoration: none;
}
.navbar{
    display: flex;
    height: 70px;
    width: 100%;
    background: var(--bg-nav);
    color: var(--text);
    margin-bottom: 0px;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header{
    background: var(--bg-header);
    padding: 2.5em;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}




